<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <% if(user) { %>
        <span>You are logged in</span>
        </div>
        <% } else { %>
        <span>You are not logged in</span>
        </div>
    <% } %>
    <h1>Change Password</h1>
    <form action="/change-password" method="post">
        <div>
            <label for="current-password"> Current Password: </label>
            <input type="text" name="currentPassword">
        </div>
        <div>
            <label for="new-password">New Password: </label>
            <input type="text" name="newPassword">
        </div>
         <div class="password-requirements">
            <small
                >Password must:
                <ul>
                <li>Be at least 6 characters long</li>
                <li>Contain a number</li>
                <li>Include uppercase and lowercase letters</li>
                </ul>
            </small>
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="text" name="confirmPassword">
        </div>
        
        <% if ((errors && errors.length > 0)) { %>
            <div class="error-container">
                <% errors.forEach((error) => { %>
                <p class="flash-error"><%= error %></p>
                <% }); %>
            </div>
        <% } %>

        <div>
            <button type="submit">Save Changes</button>
        </div>

    </form>
    
</body>
</html>