<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <% if(user) { %>
        <span>You are logged in</span>
        </div>
        <% } else { %>
        <span>You are not logged in</span>
        </div>
    <% } %>

    <% if(formSubmitted){%>
        <p>If the email that you have given to us is correct, we have sent email
            to reset password to your email.
        </p>
    <%} else { %>
        <div>
            <form action="/reset-password" method="post">
                <div>
                    <label for="email"> Enter email:  </label>
                    <input type="email" name="email" >
                </div>
                <% if ((errors && errors.length > 0)) { %>
              <div>
                <% errors.forEach((error) => { %>
                <p ><%= error %></p>
                <% }); %>
              </div>
              <% } %>

              <div>
                <button type="submit">Submit</button>
              </div>
            </form>
        </div>
     <% } %>
    
</body>
</html>