<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <% if(user) { %>
        <p class="login-msg"><i class="zmdi zmdi-check-circle"></i>You are Logged in</p>
    <% } else { %>
        <p class="notlogin-msg"><i class="zmdi zmdi-alert-circle"></i>You are not logged in </p>
    <% } %>    
    <h1>Welcome  </h1>
</body>
</html>