<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
    <link rel="stylesheet" href="style.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <div class="container">
        <div class="login">
            <div class="form">
                <h2>Login </h2>
                <form action="/login" method="post">
                    <div>
                        <label for="email">Email: </label>
                        <input id="em" type="email" name="email" >
                    </div>
                    <div class="password-wrapper">
                        <label for="password">Password: </label>
                        <input id="pas" type="password" name="password" >
                        <i class="zmdi zmdi-eye" id="togglePassword"></i>
                    </div>
                    <%if (errors && errors.length >0){ %>
                        <% errors.forEach((error)=>{ %>
                            <p class="flash-error"><%= error %></p>
                            <% }) %>
                        <% } %>
                    <div>
                        <button class="btn" type="submit">Login</button>
                    </div>

                </form>
                <div class="link">
                    <a href="/reset-password">Forgot password?</a>
                    or
                    <a href="/register">Sign up</a>
                </div>
                <div class="cred">
                    <h3>demo credentail</h3>
                    <p>email: test@gmail.com</p>
                    <p>password:******</p>
                    <button id="btnnn" class="btn">use it</button>
                </div>
            </div>
            <div class="imgg">
            <div class="img">
                <img src="/image/login.avif" alt="login image">
            </div>
            </div>
        </div>
    </div>
 
    <%- include('../partials/fotter.ejs')  %>

    <script>
        const email=document.getElementById('em');
        const pass=document.getElementById('pas');
        const btn=document.getElementById('btnnn');

        btn.addEventListener('click',(e)=>{
            e.preventDefault();

            email.value='test@gmail.com';
            pass.value='Test1234';

            
        })


        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#pas');

        togglePassword.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        
        
        this.classList.toggle('zmdi-eye');
        this.classList.toggle('zmdi-eye-off');
});
          
        
        
        

    </script>
</body>
</html>