<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <div class="container">
        <div class="login">
            <div class="form">
                <h2>Register</h2>
                <form action="/register" method="post">
                    <div>
                        <label for="name">Name: </label>
                        <input type="text" name="name" >
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" name="email" >
                    </div>
                    <div class="password-wrapper">
                        <label for="password">Password: </label>
                        <input class="pas" type="password" name="password" >
                        <i class="zmdi zmdi-eye togglePassword"></i>
                    </div>
                    <div class="password-wrapper">
                        <label for="confirmPassword">Confirm Password: </label>
                        <input class="pas" type="password" name="confirmPassword" >
                        <i class="zmdi zmdi-eye togglePassword"></i>
                    </div>
                    <%if (errors && errors.length >0){ %>
                        <% errors.forEach((error)=>{ %>
                            <p class="flash-error"><%= error %></p>
                            <% }) %>
                        <% } %>
                    <div>
                        <button class="btn" type="submit">Register</button>
                    </div>

                </form>
                <div class="link">
                    <a href="/login">Already have Account?</a>
                </div>
            </div>
           
            <div class="imgg">
            <div class="img">
                <img src="/image/register.avif" alt="login image">
            </div>
            </div>
        </div>
    </div>
    <%- include('../partials/fotter.ejs')  %>
    <script>

        const togglePasswords = document.querySelectorAll('.togglePassword');
        const passwords = document.querySelectorAll('.pas');

        togglePasswords.forEach((icon, index) => {
            icon.addEventListener('click', function () {
            const input = passwords[index]; 
            const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
            input.setAttribute('type', type);

            this.classList.toggle('zmdi-eye');
            this.classList.toggle('zmdi-eye-off');
                });
        });

    </script>
</body>
</html>