<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <div class="container">
        <div class="login">
            <div class="form">
                <h2>Register</h2>
                <form action="/register" method="post">
                    <div>
                        <label for="name">Name: </label>
                        <input type="text" name="name" >
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" name="email" >
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="text" name="password" >
                    </div>
                    <div>
                        <label for="confirmPassword">Confirm Password: </label>
                        <input type="text" name="confirmPassword" >
                    </div>
                    <%if (errors && errors.length >0){ %>
                        <% errors.forEach((error)=>{ %>
                            <p class="flash-error"><%= error %></p>
                            <% }) %>
                        <% } %>
                    <div>
                        <button class="btn" type="submit">Register</button>
                    </div>

                </form>
                <div class="link">
                    <a href="/login">Already have Account?</a>
                </div>
            </div>
           
            <div class="imgg">
            <div class="img">
                <img src="/image/register.avif" alt="login image">
            </div>
            </div>
        </div>
    </div>
    <%- include('../partials/fotter.ejs')  %>
</body>
</html>