<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <% if(user) { %>
        <span>You are logged in</span>
        </div>
        <% } else { %>
        <span>You are not logged in</span>
        </div>
    <% } %>
    <h1>Reset Your Password</h1>
    <form action="/reset-password/<%= token %>" method="post">
        <div>
            <label for="new-password">Enter Password: </label>
            <input id="passs" type="password" name="newPassword" autocomplete="off">
        </div>
         <div class="password-requirements">
            <small
                >Password must:
                <ul>
                <li>Be at least 6 characters long</li>
                <li>Contain a number</li>
                <li>Include uppercase and lowercase letters</li>
                </ul>
            </small>
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirmPassword" autocomplete="off">
        </div>
        
        <% if ((errors && errors.length > 0)) { %>
            <div class="error-container">
                <% errors.forEach((error) => { %>
                <p class="flash-error"><%= error %></p>
                <% }); %>
            </div>
        <% } %>

        <div>
            <button type="submit">Change Password</button>
        </div>

    </form>
    <%- include('../partials/fotter.ejs')  %>
</body>
</html>