    <link rel="stylesheet" href="style.css">
     <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />
<!-- 
    <link
      rel="stylesheet"
      href="fonts/material-icon/css/material-design-iconic-font.min.css"
    /> -->
    <nav>

        <div class="logo">
            <h2>MyAuthApp</h2>

        </div>
        <div class="nav-item">
            <ul>
                <li><a href="/">Home</a></li>
                <% if(!user) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                
                <% } else { %>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
</body>
</html>