@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    --primary-color:#fafafa;
    --btn-color:red;
    /* --btn-color:#ef4444; */
    --form-color:white;
    --form-box:rgba(251, 149, 149, 0.759);
    /* --form-box:rgba(239, 68, 68, 0.1); */
    --supporting-color:rgba(242, 149, 149, 0.318);
    --imgBackground-color:aliceblue;

}

body{
    background-color: var(--primary-color);
    min-height: 100dvh;
    font-size: 1.6rem;   
    line-height: 1.6rem;
    letter-spacing: 0.06rem;
}

html{
    font-family: poppins, sans-serif;
    font-size: 62.5%;
}

h2,h1{
    color: var(--btn-color);
    text-align: center;

}
nav{
    height:80px;
    background: var(--form-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    font-size: 1.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.logo{
    text-align: center;
    background: linear-gradient(135deg, red 0%, rgba(242, 3, 206, 0.833) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: capitalize;
    font-family: roboto;
    font-size: 2rem;
    
}
nav ul{
    display: flex;
    justify-content:flex-end ;
    gap:20px;
}

nav ul li{
    list-style: none;
    transition: border ease .15s;

      
}
nav ul li:hover{
    border-bottom: solid 2px var(--btn-color);
    background-color: var(--supporting-color);
    padding: 2px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
}

a{
    text-decoration: none;
    color:var(--btn-color);
}

.container{
    max-width: 142rem;
    margin:0 auto;
    padding: 9.6rem 2.4rem;
    display: flex;
    justify-content: center;


}

.login{
    width:90%;
    background: var(--form-color);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    gap:2px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8px;
    font-size: 1.6rem;
    color:#676161;
    padding-top: 7rem;
    padding-bottom: 7rem;

}
.form .link{
    padding-left: 4rem;
}
form{
    padding: 0 40px;
}
.form form input{
   padding:8px;
   display: block;
   font-size: 1.6rem;
   width:100%;
   outline:none;
   border: solid 1px var(--form-box);
   border-radius: 5px;
   margin-bottom: 20px;
}

.imgg .img img{
    height:260px;
    border-radius: 5px;
    object-fit: contain;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imgg{
    background-color: var(--imgBackground-color);
    display: grid;
    place-content: center;
}
.img{
    
    animation: bubble 2s linear 0s infinite alternate ;
}

@keyframes bubble {
    from{
          transform: translateX(0);
    }
    to{
            transform: translateY(-10px);
    }
    
}
.login h2{
  color:var(--btn-color);
  text-align: center;
  
}

.btn{
    padding:8px 20px;
    color:var(--primary-color);
    background-color: var(--btn-color);
    border:none;
    border-radius: 5px;
    font-family: Roboto,sans-serif;
    font-size: 1.8rem;
    width:100%;
    cursor: pointer;

    /* animation: shake 2s linear  infinite normal; */
    
}

/* @keyframes shake {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(3deg); }
    50%  { transform: rotate(-3deg); }
    75%  { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }

    
} */

.verify{
    width: 700px;
    background-color: var(--form-color);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.notlogin-msg{

    color: orange;
    background-color: rgba(252, 240, 220, 0.649);
    font-size: 1.6rem;
    padding: 8px 20px;
}

.login-msg{
    color:rgb(1, 198, 1);
    font-size: 1.6rem;
    padding: 8px 20px;
    background-color: rgba(211, 251, 185, 0.758);
}

.para{
    color: var(--btn-color);
    background-color: var(--supporting-color);
    margin: 20px 40px;
    padding: 20px;
}

.verify-btn{
    padding: 6px 12px;
    color:rgb(2, 150, 255); 
    background-color: rgba(190, 235, 255, 0.736) ; 
    border:none; 
    font-size: 1.4rem;
    border-radius: 6px;
    width:100%;
    margin-bottom: 20px;
    transition: background 0.25s ease;
    &:hover{
        background-color: rgba(148, 222, 254, 0.736) ; 
    }
}



footer {
  background: var(--form-color);
  padding: 2.4rem 0;
  margin-top: auto;
  border-top: 0.1rem solid #e5e5e5;
  color: #737373;
  font-size: 1.5rem;
}

footer .social-links a {
  margin-left: 1.2rem;
  color: #737373;
}

footer .social-links a:hover {
  /* color: #1d4ed8; */
  color: var(--btn-color);
}

header .container,
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
}

.flash-error {
  background-color: rgba(239, 68, 68, 0.1);
  border-left: 0.3rem solid #ef4444;
  color: #ef4444;
  padding: 0.8rem 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
}
.prof-contain {
    display: grid;
    grid-template-rows: auto auto;
    width: 70%;
    margin: 9.3rem auto;
    font-size: 1.6rem;
    padding: 20px;
    background-color: var(--form-color);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.prof {
    background: rgba(239, 68, 68, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 4rem;
    border-radius: 8px 8px 0 0;
    font-size: 1.4rem; 
    color: #333;

}

.profile-pic {
    height: 70px;
    width: 70px;
    background: rgba(239, 68, 68, 0.15);
    border: 2px solid #ef4444;
    color: #ef4444;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 2.5rem;
    
    /* font-weight: bold; */
}

.prof i {
    margin-right: 5px;
    color: #ef4444;
}

.veri {
    display: flex;
    align-items: center;
    margin: 12px 0;
    gap:20px;
}

.veri span {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.veri span.not-verified {
    background: rgba(239, 68, 68, 0.1);
    color: #ef4444;
}

/* Verified */
.veri span.verified {
    background: rgba(34, 197, 94, 0.1);
    color: #22c55e;
}

/* full-width buttons */
.edit .verify-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 8px 0;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    background: #ef4444;
    color: #fff;
    transition: background 0.25s ease;
}

.edit .verify-btn:hover ,.btn:hover {
    background: #dc2626;
}

